<div class="row">
    <div class="col-xs-12" id="content-bottom">
        <p id="bottom-heading">Boost your links today</p>
        <button class="btn" id="bottom-btn">Get Started</button>
    </div>
</div>
<div class="row" id="footer">
    <div class="col-lg-3 col-xs-12 logo-img">
        <img src="../../assets/images/logo01.svg" alt="">
    </div>
    <div class="col-lg-9 col-xs-12">
        <div class="row boxes">
            <div class="col-lg-3 col-xs-12">
                <p class="heading">Features</p>
                <br>
                <p><a href="#">Link Shortening</a></p>
                <p><a href="#">Branded Links</a></p>
                <p><a href="#">Analytics</a></p>
            </div>
            <div class="col-lg-3 col-xs-12">
                <p class="heading">Resources</p>
                <br>
                <p><a href="#">Blog</a></p>
                <p><a href="#">Developers</a></p>
                <p><a href="#">Support</a></p>
            </div>
            <div class="col-lg-3 col-xs-12">
                <p class="heading">Company</p>
                <br>
                <p><a href="#">About</a></p>
                <p><a href="#">Our Team</a></p>
                <p><a href="#">Careers</a></p>
                <p><a href="#">Contact</a></p>
            </div>
            <div class="col-lg-3 col-xs-12 icon">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
